@page "/"
@using MudBlazor

<PageTitle>Manejo de carreras y contenidos</PageTitle>
<div>
    <h2>
        Portal de manejo de carreras y contenidos
    </h2>

    <p>
        Bienvenido al portal de manejo de carreras y contenidos. Aquí podrá crear carreras y agregar contenido a las mismas.
        Puede usar la bara de navegación para acceder a las diferentes funcionalidades, o alternativamente puede usar los accesos rapidos que se encuentran en la parte inferior de la página.
    </p>

    <ul>
        <li>
            <a href="/careers">Listar las carreras existantes</a>
        </li>
        <li>
            <a href="/createCareer">Crear una nueva carrera</a>
        </li>
    </ul>

</div>